
.footer {
    background-color: #d4d4d4; 
    color: #6b6b6b; 
    padding: 20px;
  }
  
  .footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footerContent div {
    flex: 1;
    margin: 10px;
  }
  .links { 
    display: flex; 
    flex-direction: column;  
    gap: 10px;
    align-items: flex-start; 
  }

  .footerContent a {
    color: #6b6b6b;
    text-decoration: none;
  }
  .footerContent a:hover {
    text-decoration: underline;
  }
 
  .formal {
    display: flex; 
    flex-direction: column;  
    gap: 10px;
    align-items: flex-start; 
  }

  
 