@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #6482AD;
    --secundant-color: #7FA1C3;
    --tertiary-color: #E2DAD6;
    --quarternary-color: #F5EDED;
}

body {
    @apply bg-tertiary flex flex-col min-h-screen;
      
}
.container {
    @apply mx-auto max-w-[80%];
}

footer {
    @apply mt-auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-color);
    @apply font-bold;
}